<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="studio.tay.reporting">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/vm"
        android:label="@string/app_name"
        android:roundIcon="@drawable/vm"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.studio.tay.reporting"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <service android:name=".helper.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".helper.FcmMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".activity.DetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.BillActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.OfferActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.OfferDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.NotificationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SupportActivity"
            android:label="@string/title_activity_support"
            android:theme="@style/myTheme2" />
        <activity
            android:name=".activity.AddQuestionActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.QuestionDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ContactActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>